<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.serialport.api">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".sample.Application">
        <activity
            android:label="@string/app_name"
            android:name=".sample.MainMenu" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sample.SerialPortPreferences" >
        </activity>
        <activity android:name=".sample.ConsoleActivity" >
        </activity>
        <activity android:name=".sample.LoopbackActivity" >
        </activity>
        <activity android:name=".sample.Sending01010101Activity">
        </activity>
    </application>
</manifest>
